# Analyzing A/B Test Results

In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline

# Setting seed to assure results are same when this analysis is replicated
random.seed(68)

In [2]:
df_og = pd.read_csv('ab_data.csv')

## Data Quality Assessment

In [3]:
df_og.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

* user_id = self-explanatory
* timestamp = when user visited the page
* group = treatment (new page) or control (original page)
* landing_page = whether user saw old_page or new_page
* converted = 0 for no conversion / 1 for conversion

In [6]:
df_og.shape

(294478, 5)

In [7]:
df_og.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
user_id         294478 non-null int64
timestamp       294478 non-null object
group           294478 non-null object
landing_page    294478 non-null object
converted       294478 non-null int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

There are no null values

In [12]:
df_og.timestamp.max()

'2017-01-24 13:41:54.460509'

In [13]:
df_og.timestamp.min()

'2017-01-02 13:42:05.378582'

In [14]:
df_og.group.value_counts()

treatment    147276
control      147202
Name: group, dtype: int64

In [15]:
df_og.landing_page.value_counts()

old_page    147239
new_page    147239
Name: landing_page, dtype: int64

treatment - new_page and control - old_page is not properly lined up. Since we aren't sure which of these columns is incorrect information, we will have to drop rows where these values do not line up.

In [17]:
df_og.converted.value_counts()

0    259241
1     35237
Name: converted, dtype: int64

## Data Wrangling

In [18]:
df = df_og.copy()

In [19]:
# Dropping rows with unmatched data between group and landing_page columns

df = df.query("(group == 'treatment' and landing_page == 'new_page') or (group == 'control' and landing_page == 'old_page')")

In [20]:
# Check

df.query("(group == 'treatment' and landing_page == 'old_page') or (group == 'control' and landing_page == 'new_page')").shape

(0, 5)

In [26]:
# Drop duplicate rows on id

df.drop_duplicates('user_id', inplace = True)

In [28]:
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [29]:
df.shape

(290584, 5)

In [31]:
df.to_csv('ab_temp.csv', index = False)

## Analysis